/* ======================== google fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

body {
  max-width: 100%;
  overflow-x: hidden;
}


/* ======================== nav (all pages) ======================== */


.main-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -45px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}


.nav-left {
  display: flex;
  width: 235px;
  height: 100px;
  padding: 100px 0px;
  align-items: center;
  gap: 2px;
}

.navbar-nav {
  gap: 40px;
}

.nav-link {
  color: var(--Generic-Black, #000);
  text-align: center;
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 131.25% */
}

.nav-link:hover {
  color: #49889A;
}

.nav-link:focus {
  color: #49889A !important;
}

.nav-button {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--Neutral-900, #111827);
  border-radius: 0%;
  /*Dropshadow/Small*/
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  color: var(--Neutral-900, #111827);
  /* Label/Large/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 112.5% */
}

.nav-button-text {
  color: transparent;
  position: absolute;
  border: none;
  padding: 14px 20px;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.nav-button:hover {
  border: 1px solid var(--Neutral-600, #49889A);
  background: var(--Neutral-600, #49889A);

  /* Drop shadow/Small */
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}



.nav-button-text:hover {
  color: #FFF;
  /* Label/Large/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 112.5% */
}


/* =================== About page ====================== */
.about {
  display: flex;
  width: 100%;
  padding: 0px 112px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background: #FBF9F9;
}

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.about-us-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.about-us-overline {
  color: #007976;

  /* Paragraph/Overline/Large */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about-us-heading {
  width: 496px;
  color: var(--Neutral-900, #111827);
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-us-right {
  width: 525px;
}

.about-us-paragraph {
  color: var(--Neutral-700, #374151);

  /* Paragraph/Medium/Regular */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 150% */
}

/* =================== expertise section (about) ====================== */
.expertise:before {
  content: "";
  display: block;
  margin-left: -80px;
  width: 1280px;
  padding: 20px;
  border-top: 1px solid #B9B9B9;
}

.expertise {
  display: flex;
  width: 1138px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.expertise-overline {
  color: #007976;
  /* Paragraph/Overline/Large */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.exp-row {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  align-self: stretch;
}

.exp-title {
  width: 280px;
  color: var(--Neutral-900, #111827);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  /* 141.667% */
  letter-spacing: -0.48px;
}

.exp-summary {
  width: 775px;
  height: 146px;
  color: var(--Neutral-700, #374151);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.expertise:after {
  content: "";
  display: block;
  margin-left: -50px;
  width: 1280px;
  padding: 20px;
  border-top: 1px solid #B9B9B9;
}

/* =================== team section (about page) ====================== */

.team-section {
  display: flex;
  width: 100%;
  padding: 40px 112px;
  justify-content: center;
  align-items: flex-start;
  gap: 164px;
}

.team-left {
  display: flex;
  width: 369px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
}

.team-overline {
  width: 127px;
  color: #007976;

  /* Paragraph/Overline/Large */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.team-heading {
  width: 313px;
  color: var(--Neutral-900, #111827);

  /* Heading/H2/Bold/Desktop */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  /* 122.222% */
  letter-spacing: -0.72px;
}

.team-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.team-row {
  display: flex;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}

.team-card {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.profile-pic {
  width: 280px;
  height: 280px;
  border-radius: 4px;
  background: var(--Avatar-Profile-07, url(<path-to-image>) lightgray 50% / cover no-repeat);
  mix-blend-mode: luminosity;
}

.profile-pic:hover {
  mix-blend-mode: normal;
  width: 281px;
  height: 281px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.profile-name {
  color: var(--Neutral-900, #111827);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 116.667% */
}

.profile-second-name {
  color: var(--Neutral-900, #111827);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}

.profile-title {
  align-self: stretch;
  color: var(--Neutral-700, #374151);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}


/* ==================== Directory Page ==================== */
.directory {
  display: inline-flex;
  width: 100%;
  padding: 0px 112px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background: var(--Gray-Lighter, #F9FAFB);
}

.directory-section {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}

.directory-overline {
  width: 1211px;
  color: var(--Neutral-900, #111827);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  /* 122.222% */
  letter-spacing: -0.72px;
}

.directory-row {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.directory-card {
  display: flex;
  width: 592px;
  padding: 8px 16px;
  align-items: flex-end;
  gap: 16px;
  border: 1px solid #B3B3B3;
}

.company-image {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.company-info {
  display: flex;
  width: 230px;
  height: 150px;
  padding: 16px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.company-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 140% */
  letter-spacing: -0.4px;
}

.company-type {
  color: #595959;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  /* Paragraph/Medium/Regular */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.company-contact {
  color: #000;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 175% */
}

.user-icon {
  width: 20px;
  height: 20px;
}

.company-phone {
  color: #000;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 175% */
}

.phone-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.company-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.company-web-link {
  display: flex;
  padding: 8px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 0%;

}

#companyInquire {
  margin-left: 10px;
}

.web-link-text {
  color: var(--Neutral-900, #111827);
  text-align: center;
  white-space: nowrap;
  /*Label/Large/Medium*/
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /*112.5%*/
}

.company-web-link:hover {
  border: 1px solid var(--Neutral-700, #374151);
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.web-link-text {
  border: none;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

#servicesInquire {
  padding: 5px 30px;

}

/* =================== cta section (all pages) ====================== */
.call-to-action {
  display: flex;
  width: 100%;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #F9FAFB;
}

.directory-cta {
  display: flex;
  width: 1340px;
  padding: 64px 112px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #051C2A;
}

.dir-cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.dir-cta-heading {
  align-self: stretch;
  color: var(--Neutral-100, #F3F4F6);
  text-align: center;

  /* Heading/H2/Extrabold/Desktop */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  /* 122.222% */
  letter-spacing: -0.72px;
}

.dir-cta-paragraph {
  align-self: stretch;
  color: var(--Neutral-200, #E5E7EB);
  text-align: center;

  /* Paragraph/Large/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.dir-cta-button {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #FF9D00;
  border-radius: 0%;
  /*Dropshadow/Small*/
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  color: var(--Neutral-900, #111827);

  /* Label/Large/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  /* 112.5% */
}

.cta-button-text {
  color: transparent;
  position: absolute;
  padding: 10px 20px;
  border: none;
}

.dir-cta-button:hover {
  background: #E08A00;
}

.cta-button-text:hover {
  color: transparent;
}

/* ======================== footer section (all pages) ======================== */
.footer {
  display: flex;
  width: 1440px;
  padding: 0px 112px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #F9FAFB;
}

.footer-content {
  display: flex;
  padding: 64px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.footer-page-links {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.footer-info-links {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  margin-top: -30px;
}

.footer-link {
  color: var(--Neutral-500, #6B7280);
  text-decoration: none;
  /* Paragraph/Small/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.footer-bottom {
  display: flex;
  height: 52px;
  padding-top: 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid var(--Neutral-200, #E5E7EB);
}

.footer-social-links, .footer-policy-links {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.social-link {
  width: 20px;
  height: 20px;
}

.policy-link {
  color: var(--Neutral-500, #6B7280);
  text-decoration: none;
  /* Paragraph/Small/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}



/* ======================== terms & privacy pages ================ */
.terms {
  display: flex;
  width: 100%;
  padding: 80px 112px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #FBF9F9;
}

.terms-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  margin-top: -120px;
  margin-bottom: -80px;
}

.terms-heading {
  color: var(--Neutral-900, #111827);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  /* 122.222% */
}

.terms-subheading {
  color: var(--Neutral-900, #111827);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  /* 122.222% */
}

.terms-heading-2 {
  color: var(--Neutral-900, #111827);
  font-family: Inter;
  font-size: 31px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  /* 122.222% */
}



/* ======================== services page ======================== */

.services {
  display: flex;
  width: 100%;
  padding: 0px 112px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background: #FBF9F9;
}



.services-exp {
  display: flex;
  width: 1138px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  margin-top: -40px;
}

.services-overline {
  color: #007976;

  /* Paragraph/Overline/Large */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services-card {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  align-self: stretch;
}

.services-heading {
  width: 280px;
  color: var(--Neutral-900, #111827);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  /* 141.667% */
  letter-spacing: -0.48px;
}

.services-paragraph {
  width: 775px;
  height: 146px;
  color: var(--Neutral-700, #374151);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.service-2 {
  width: 1138px;
  height: 1px;
  margin-top: 450px;
}

.service-3 {
  width: 1138px;
  height: 1px;
  margin-top: 160px;
}



/* ======================== media queries ======================== */
@media screen and (max-width: 389px) {


  body {
    max-width: 100%;
    overflow-x: hidden;
  }


  /* ============ nav mq (all pages) ============  */
  .about {
    display: flex;
    width: auto;
    padding: 0px 0px;
    align-items: flex-start;
    gap: 8px;
  }

  .main-nav {
    width: 320px;
    padding: 10px 20px;
  }

  #termsNav {
    margin-right: -100px;
  }

  .nav-logo {
    width: 180.418px;
    height: 66px;
  }

  .navbar-toggler {
    display: block;
    width: 320px;
    height: 48px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: none;
    z-index: 1;
  }

  #navbarNav {
    position: absolute;
    width: 196px;
    height: 360px;
    background: #fff;
    border-radius: 4px;
    top: 110px;
    right: 27px;
    z-index: 1;
    border: 1px solid #051C2A;
  }

  #navbarNavTerms {
    position: absolute;
    width: 196px;
    height: 380px;
    background: #fff;
    border-radius: 4px;
    top: 110px;
    right: 27px;
    z-index: 1;
    border: 1px solid #051C2A;
  }

  .navbar-nav {
    display: flex;
    padding: 40px 25px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    color: #051C2A;
    height: 24px;
  }

  .nav-link:hover {
    color: #007976;
  }

  .nav-left {
    width: 283.967px;
    margin-left: -20px;
  }


  .nav-right {
    display: flex;
    width: 283px;
    height: 48px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  #hamburger-menu {
    margin-left: 220px;
    margin-top: -190px;
  }


  .nav-button {
    display: none;
  }

  /* ============ about page mq ============  */
  .about-us {
    padding: 20px 20px;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
    margin-top: -100px;
  }

  .about-us-heading, .about-us-right {
    width: 270px;
  }

  .about-us-heading {
    width: auto;
    font-size: 48px;
  }

  /* ============ expertise section (about) mq ============  */
  .expertise:before {
    content: "";
    display: block;
    margin-left: 0px;
    width: 280px;
    padding: 0px;
    border-top: 1px solid #B9B9B9;
  }

  .expertise {
    display: flex;
    width: auto;
    padding: 40px 20px;
    gap: 56px;
    align-self: stretch;
  }

  .exp-row {
    display: block;
    gap: 20px;
    padding-bottom: 220px;
  }

  .exp-title {
    padding-bottom: 20px;
  }

  .exp-summary {
    width: 260px;
  }

  .expertise::after {
    content: "";
    display: block;
    margin-left: -5px;
    width: 280px;
    padding: 0px;
    border-top: 1px solid #B9B9B9;
  }

  /* ============ team section (about page) mq ============  */
  .team-section {
    padding: 0px 14px;
    flex-direction: column;
    gap: 40px;
    align-self: stretch;
  }

  .team-heading {
    width: 300px;
  }

  .team-right {
    width: 100%;
    gap: 56px;
    padding-bottom: 50px;
  }

  .team-row {
    gap: 12px;
  }

  .team-card {
    gap: 16px;

  }

  .profile-pic {
    width: 140px;
    height: 140px;
  }

  .profile-pic:hover {
    width: 140px;
    height: 140px;
  }

  .profile-info {
    width: 140px;
  }

  .profile-name {
    font-size: 15px;
  }

  .profile-second-name {
    font-size: 14px;
  }

  .profile-title {
    font-size: 13px;
  }


  /* =============== directory page mq ===============  */
  .directory {
    display: flex;
    width: auto;
    padding: 0px 0px;

    align-items: flex-start;
    gap: 8px;
  }

  .directory-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 20px;
  }

  .directory-overline {
    width: auto;
    align-self: start;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .directory-row {
    display: flex;
    gap: 12px;
    margin-top: -30px;
  }

  .directory-card {
    display: inline-block;
    width: 140px;
    padding: 4px 16px;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 32px;
  }

  .company-image {
    width: 115px;
    height: 115px;
    margin-left: -5px;
  }

  .company-info {
    width: 115px;
  }

  .company-name {
    font-size: 15px;
    line-height: 20px;
  }

  .company-type {
    font-size: 14px;
    line-height: 20px;
  }

  .company-link {
    margin-top: -35px;
    margin-left: 0px;
  }

  .company-web-link {
    margin-left: -8px;
  }

  .web-link-text {
    font-size: 12px;
  }

  #companyInquire {
    margin-left: -6px;
  }

  #directoryCTA {
    height: auto;
    margin-bottom: 45px;
  }

  /* =================== services page mq ==================  */
  .services {
    display: flex;
    max-width: auto;
    padding: 0px 0px;
    align-items: flex-start;
  }

  .services-exp {
    display: flex;
    width: 300px;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -140px;
    margin-bottom: 140px;
  }


  .services-card {
    display: block;

  }

  .services-paragraph {
    width: 290px;
    font-size: 14px;
    padding-top: 20px;
  }

  .service-2 {
    width: 290px;
    height: 1px;
    margin-top: 660px;
  }

  .service-3 {
    width: 290px;
    height: 1px;
    margin-top: 400px;
  }

  /* ============ terms/privacy pages mq ============  */
  .terms {
    max-width: auto;
    padding: 0px 16px;
  }

  #termsNav {
    margin-left: -100px;
  }



  /* ============ cta section (all pages) mq ============  */
  .call-to-action {
    width: auto;
    margin-top: -60px;
  }

  .directory-cta {
    width: 290px;
    margin-left: 15px;
    padding-left: 20px;
  }

  .dir-cta-heading {
    text-align: center;
    width: 250px;
    margin-left: 0px;
    font-size: 30px;
    font-weight: 600;
  }

  .dir-cta-paragraph {
    align-items: center;
    width: 260px;
    white-space: wrap;
    margin-left: -5px;
    font-size: 16px;
    font-weight: 300;
  }

  .dir-cta-button, .cta-button-text {
    margin-left: 90px;
    width: 250px;
  }

  .cta-button-text, .cta-button-text:hover {
    color: transparent;
  }

  /* ============ footer section (all pages) mq ============  */
  .footer {
    width: auto;
    padding: 0px 20px;
    align-self: stretch;
    margin-top: -50px;
    margin-bottom: -70px;
  }

  .logo-white-footer {
    width: 280px;
  }

  .footer-info-links {
    display: inline-block;
    width: 250px;
  }

  .footer-bottom {
    display: inline;
    width: 100%;
    padding-bottom: 100px;
  }

  .footer-item-info {
    padding-bottom: 10px;
  }

  .footer-top {
    margin-bottom: -50px;
  }

  .footer-social-links, .footer-policy-links {
    align-items: center;
  }





}


@media screen and (min-width: 390px) and (max-width: 450px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }


  /* ============ nav mq (all pages) ============  */
  .about {
    display: flex;
    width: auto;
    padding: 0px 0px;
    align-items: flex-start;
    gap: 8px;
  }

  .main-nav {
    width: 283px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    width: 187.418px;
    height: 66px;
  }

  .navbar-toggler {
    display: block;
    width: 283px;
    height: 48px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: none;
    z-index: 1;
  }

  #navbarNav {
    position: absolute;
    width: 196px;
    height: 360px;
    background: #fff;
    border-radius: 4px;
    top: 110px;
    right: -80px;
    z-index: 1;
    border: 1px solid #051C2A;
  }

  #navbarNavTerms {
    position: absolute;
    width: 196px;
    height: 380px;
    background: #fff;
    border-radius: 4px;
    top: 110px;
    right: -80px;
    z-index: 1;
    border: 1px solid #051C2A;
  }

  .navbar-nav {
    display: flex;
    padding: 40px 25px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    color: #051C2A;
    height: 24px;
  }

  .nav-link:hover {
    color: #007976;
  }

  .nav-left {
    width: 283.967px;
    margin-left: -20px;
  }


  .nav-right {
    display: flex;
    width: 283px;
    height: 48px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  #hamburger-menu {
    margin-left: 290px;
    margin-top: -200px;
  }


  .nav-button {
    display: none;
  }

  /* ============ about page mq ============  */
  .about-us {
    padding: 20px 20px;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
    margin-top: -100px;
  }

  .about-us-heading, .about-us-right {
    width: 333px;
  }

  .about-us-heading {
    width: auto;
    font-size: 48px;
  }

  /* ============ expertise section (about) mq ============  */
  .expertise:before {
    content: "";
    display: block;
    margin-left: 0px;
    width: 360px;
    padding: 0px;
    border-top: 1px solid #B9B9B9;
  }

  .expertise {
    display: flex;
    width: auto;
    padding: 40px 20px;
    gap: 56px;
    align-self: stretch;
  }

  .exp-row {
    display: block;
    gap: 20px;
    padding-bottom: 150px;
  }

  .exp-title {
    padding-bottom: 20px;
  }

  .exp-summary {
    width: 320px;
  }

  .expertise::after {
    content: "";
    display: block;
    margin-left: -5px;
    width: 360px;
    padding: 0px;
    border-top: 1px solid #B9B9B9;
  }

  /* ============ team section (about page) mq ============  */
  .team-section {
    padding: 0px 20px;
    flex-direction: column;
    gap: 40px;
    align-self: stretch;
  }

  .team-heading {
    width: 300px;
  }

  .team-right {
    width: 100%;
    gap: 56px;
    padding-bottom: 50px;
  }

  .team-row {
    gap: 12px;
  }

  .team-card {
    gap: 16px;

  }

  .profile-pic {
    width: 173px;
    height: 173px;
  }

  .profile-pic:hover {
    width: 173px;
    height: 173px;
  }

  .profile-info {
    width: 173px;
  }

  .profile-name {
    font-size: 18px;
  }

  .profile-second-name {
    font-size: 16px;
  }

  .profile-title {
    font-size: 14px;
  }


  /* =============== directory page mq ===============  */
  .directory {
    display: flex;
    width: auto;
    padding: 0px 0px;

    align-items: flex-start;
    gap: 8px;
  }

  .directory-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 20px;
  }

  .directory-overline {
    width: auto;
    align-self: start;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .directory-row {
    display: flex;
    gap: 12px;
    margin-top: -30px;
  }

  .directory-card {
    display: inline-block;
    width: 173px;
    padding: 4px 16px;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 32px;
  }

  .company-image {
    width: 150px;
    height: 150px;
    margin-left: -5px;
  }

  .company-info {
    width: 150px;
  }

  .company-name {
    font-size: 18px;
    line-height: 20px;
  }

  .company-type {
    line-height: 20px;
  }

  .company-link {
    margin-top: -35px;
    margin-left: 0px;
  }

  .web-link-text {
    font-size: 15px;
  }

  #companyInquire {
    margin-left: 5px;
  }

  #directoryCTA {
    height: auto;
    margin-bottom: 45px;
  }

  /* =================== services page mq ==================  */
  .services {
    display: flex;
    max-width: auto;
    padding: 0px 0px;
    align-items: flex-start;
  }

  .services-exp {
    display: flex;
    width: 340px;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -140px;
    margin-bottom: 60px;
  }


  .services-card {
    display: block;

  }

  .services-paragraph {
    width: 350px;
    font-size: 14px;
    padding-top: 20px;
  }

  .service-2 {
    width: 360px;
    height: 1px;
    margin-top: 580px;
  }

  .service-3 {
    width: 360px;
    height: 1px;
    margin-top: 340px;
  }

  /* ============ terms/privacy pages mq ============  */
  .terms {
    max-width: auto;
    padding: 0px 16px;
  }

  #termsNav {
    margin-left: -100px;
  }



  /* ============ cta section (all pages) mq ============  */
  .call-to-action {
    width: auto;
    margin-top: -56px;
  }

  .directory-cta {
    width: 360px;
    margin-left: 15px;
    padding-left: 20px;
  }

  .dir-cta-heading {
    text-align: center;
    width: 250px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 600;
  }

  .dir-cta-paragraph {
    align-items: center;
    width: 300px;
    white-space: wrap;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
  }

  .dir-cta-button, .cta-button-text {
    margin-left: 90px;
    width: 300px;
  }

  .cta-button-text, .cta-button-text:hover {
    color: transparent;
  }

  /* ============ footer section (all pages) mq ============  */
  .footer {
    width: auto;
    padding: 0px 32px;
    align-self: stretch;
    margin-top: -50px;
    margin-bottom: -70px;
  }

  .footer-info-links {
    display: inline-block;
  }

  .footer-bottom {
    display: inline;
    width: 100%;
    padding-bottom: 100px;
  }

  .footer-item-info {
    padding-bottom: 10px;
  }

  .footer-top {
    margin-bottom: -50px;
  }

  .footer-social-links, .footer-policy-links {
    align-items: center;
  }


}

@media screen and (min-width: 451px) and (max-width: 767px) {

  body {
    max-width: 100%;
    overflow-x: hidden;
  }



  /* ============ nav mq (all pages) ============  */
  .about {
    display: flex;
    width: auto;
    padding: 0px 0px;
    align-items: flex-start;
    gap: 8px;
  }

  .main-nav {
    display: flex;
    width: 516px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-toggler {
    display: block;
    width: 283px;
    height: 48px;
    margin-right: -80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: none;
    z-index: 1;
  }

  #navbarNav {
    position: absolute;
    width: 196px;
    height: 360px;
    background: #fff;
    border-radius: 4px;
    top: 100px;
    right: -22px;
    z-index: 1;
    border: 1px solid #051C2A;
  }

  #navbarNavTerms {
    position: absolute;
    width: 196px;
    height: 380px;
    background: #fff;
    border-radius: 4px;
    top: 100px;
    right: -22px;
    z-index: 1;
    border: 1px solid #051C2A;
  }

  .navbar-nav {
    display: flex;
    padding: 40px 25px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    color: #051C2A;
    height: 24px;
  }

  .nav-link:hover {
    color: #007976;
  }

  .nav-left {
    width: 283.967px;
    margin-left: -20px;
  }


  .nav-right {
    display: flex;
    width: 283px;
    height: 48px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  #hamburger-menu {
    margin-left: 260px;
    margin-top: -200px;
  }


  .nav-button {
    display: none;
  }

  /* ============ about page mq ============  */
  .about-us {
    display: flex;
    padding: 20px 32px;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
    margin-top: -100px;
  }

  .about-us-heading, .about-us-right {
    width: 530px;
  }

  /* ============ expertise section (about) mq ============  */
  .expertise:before {
    content: "";
    display: block;
    margin-left: -10px;
    width: 550px;
    padding: 0px;
    border-top: 1px solid #B9B9B9;
  }

  .expertise {
    display: flex;
    width: 600px;
    padding: 40px 32px;
    gap: 56px;
    align-self: stretch;
  }

  .exp-row {
    display: block;
    gap: 20px;
    padding-bottom: 40px;
  }

  .exp-title {
    padding-bottom: 20px;
  }

  .exp-summary {
    width: 540px;
  }

  .expertise::after {
    content: "";
    display: block;
    margin-left: -10px;
    width: 550px;
    padding: 0px;
    border-top: 1px solid #B9B9B9;
  }

  /* ============ team section (about page) mq ============  */
  .team-section {
    padding: 0px 20px 0px;
    flex-direction: column;
    gap: 40px;
    align-self: stretch;
  }

  .team-heading {
    width: 400px;
  }

  .team-right {
    gap: 60px;
  }

  .team-row {
    gap: 30px;
  }

  .profile-pic {
    width: 240px;
    height: 240px;
  }

  .profile-pic:hover {
    width: 240px;
    height: 240px;
  }

  /* ============ directory page mq ============  */

  .directory {
    display: flex;
    width: auto;
    padding: 0px 32px;
    margin-left: -30px;
    align-items: flex-start;
    gap: 8px;
  }

  .directory-section {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 20px;
  }

  .directory-overline {
    width: auto;
    padding-bottom: 20px;
  }

  .directory-row {
    display: inline-block;
    margin-top: -30px;
  }

  .directory-card {
    width: 540px;

    margin-bottom: 32px;
  }

  .company-link {
    margin-left: -50px;
  }

  #directoryCTA {
    width: 540px;
    height: auto;
    margin-left: 30px;
    margin-bottom: 45px;
  }

  /* =================== services page mq ==================  */
  .services {
    display: flex;
    width: auto;
    padding: 0px 20px;
    align-items: flex-start;
  }

  .services-exp {
    display: flex;
    width: 550px;
    padding: 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -140px;
    margin-bottom: 120px;
  }

  .services-paragraph {
    font-size: 16px;
  }

  .service-2 {
    width: 500px;
    height: 1px;
    margin-top: 700px;
  }

  .service-3 {
    width: 500px;
    height: 1px;
    margin-top: 480px;
  }

  /* ============ terms/privacy pages mq ============  */
  .terms {
    max-width: auto;
    padding: 0px 20px;
  }

  #termsNav {
    margin-left: -80px;
  }


  /* ============ cta section (all pages) mq ============  */
  .call-to-action {
    width: auto;
    margin-left: 20px;
  }

  .directory-cta {
    width: 550px;
    padding: 30px;

  }

  .dir-cta-paragraph {
    width: 450px;
    text-align: center;
    margin-left: 7px;
  }

  /* ============ footer section (all pages) mq ============  */
  .footer {
    width: auto;
    padding: 0px 32px;
    align-self: stretch;
    margin-top: -50px;
    margin-bottom: -70px;
  }

  .footer-info-links {
    display: inline-block;
  }

  .footer-bottom {
    width: 500px;
  }

  .footer-item-info {
    padding-bottom: 10px;
  }

  .footer-top {
    margin-bottom: -50px;
  }

  .footer-social-links, .footer-policy-links {
    align-items: center;
  }



}


@media screen and (min-width: 768px) and (max-width: 991px) {

  body {
    max-width: 100%;
    overflow-x: hidden;
  }


  /* ============ nav mq (all pages) ============  */
  .about {
    display: flex;
    width: auto;
    padding: 0px 32px;
    align-items: flex-start;
    gap: 8px;
  }

  .main-nav {
    display: flex;
    width: 704px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-toggler {
    display: block;
    width: 283px;
    height: 48px;
    margin-right: -80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: none;
    z-index: 1;
  }

  #navbarNav {
    position: absolute;
    width: 196px;
    height: 360px;
    background: #fff;
    border-radius: 4px;
    top: 100px;
    right: 30px;
    z-index: 1;
    border: 1px solid #051C2A;
  }

  #navbarNavTerms {
    position: absolute;
    width: 196px;
    height: 380px;
    background: #fff;
    border-radius: 4px;
    top: 100px;
    right: 30px;
    z-index: 1;
    border: 1px solid #051C2A;
  }

  .navbar-nav {
    display: flex;
    padding: 40px 25px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    color: #051C2A;
    height: 24px;
  }

  .nav-link:hover {
    color: #007976;
  }

  .nav-left {
    width: 283.967px;
    margin-left: -40px;
  }


  .nav-right {
    display: flex;
    width: 283px;
    height: 48px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  #hamburger-menu {
    margin-left: 60px;
  }

  .nav-button {
    display: none;
  }

  /* ============ about page mq ============  */
  .about-us {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
    margin-top: -100px;
  }

  .about-us-heading, .about-us-right {
    width: 100%;
  }

  /* ============ expertise section (about) mq ============  */
  .expertise:before {
    content: "";
    display: block;
    margin-left: -10px;
    width: 704px;
    padding: 0px;
    border-top: 1px solid #B9B9B9;
  }

  .expertise {
    display: flex;
    width: 768px;
    padding: 40px 0px;
    gap: 56px;
    align-self: stretch;
  }

  .exp-row {
    display: block;
    gap: 20px;
  }

  .exp-title {
    padding-bottom: 20px;
  }

  .exp-summary {
    width: 700px;
  }

  .expertise::after {
    content: "";
    display: block;
    margin-left: -10px;
    width: 704px;
    padding: 0px;
    border-top: 1px solid #B9B9B9;
  }

  /* ============ team section (about page) mq ============  */
  .team-section {
    padding: 0px 20px 0px;
    flex-direction: column;
    gap: 56px;
    align-self: stretch;
  }

  .team-heading {
    width: 400px;
  }

  .team-right {
    gap: 60px;
  }

  .profile-pic:hover {
    width: 280px;
    height: 280px;
  }

  /* =================== directory page mq ==================  */
  .directory {
    display: flex;
    width: auto;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
  }

  #directoryBurger {
    margin-left: 60px;
    top: 10px;
    right: -3px;
  }

  .directory-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    margin-top: -140px;
    margin-bottom: -40px;
  }

  .directory-overline {
    width: auto;
    padding-bottom: 32px;
  }

  .directory-row {
    display: inline-block;
    margin-top: -30px;
  }

  .directory-card {
    width: 700px;
    margin-bottom: 32px;
  }

  .company-link {
    margin-left: 100px;
  }

  #directoryCTA {
    margin-bottom: -80px;
  }

  /* =================== services page mq ==================  */
  .services {
    display: flex;
    max-width: auto;
    padding: 0px 32px;
    align-items: flex-start;
  }

  #servicesBurger {
    margin-left: 60px;
  }

  .services-burger-menu {
    position: absolute;
    top: 100px;
    right: -300px;
  }

  .services-exp {
    display: flex;
    width: 700px;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -140px;
    margin-bottom: 40px;
  }

  .services-paragraph {
    font-size: 16px;
  }

  .service-2 {
    width: 680px;
    height: 1px;
    margin-top: 560px;
  }

  .service-3 {
    width: 680px;
    height: 1px;
    margin-top: 280px;
  }

  /* ============ terms/privacy pages mq ============  */
  .terms {
    max-width: auto;
    padding: 0px 40px;
  }


  /* ============ cta section (all pages) mq ============  */
  .call-to-action {
    width: auto;
  }

  .directory-cta {
    width: 700px;
    padding: 40px;

  }

  .dir-cta-paragraph {
    width: 650px;
    text-align: start;
    margin-left: -10px;
  }

  /* ============ footer section (all pages) mq ============  */
  .footer {
    width: auto;
    padding: 0px;
    align-self: stretch;
  }

  .footer-bottom {
    width: 700px;
  }

  .footer-social-links, .footer-policy-links {
    align-items: center;
  }


}

@media screen and (min-width: 992px) and (max-width: 1199px) {

  body {
    max-width: 100%;
    overflow-x: hidden;
  }



  /* ============ nav mq ============  */
  .nav-button {
    display: none;
  }




  /* ============ hero section mq ============  */


  /* ============ services section mq ============  */


  /* ============ testimonials section mq ============  */


  /* ============ cta section mq ============  */


  /* ============ footer section mq ============  */



}



@media screen and (min-width: 1200px) and (max-width: 1440px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }



}


@media screen and (min-width: 1441px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }



}