/* ======================== google fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');



body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ======================== nav ======================== */
.navbar {
  background-color: #051C2A;
  display: flex;
  width: 100%;
  padding: 0px 112px;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.navbar-toggler {
  position: relative;
  z-index: 99;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item {
  gap: 40px;
}

.nav-link {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  position: relative;
  z-index: 2;
  font-feature-settings: 'clig'off, 'liga'off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 131.25% */
}

.nav-link:hover {
  color: #00C4C8;
}


.nav-button {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  gap: 8px;
  border: 1px solid #FFF;
  border-radius: 0%;
  /*Dropshadow/Small*/
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.nav-button-text {
  color: #ffffff;
  /* Label/Large/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 112.5% */
}

.nav-button-text:hover {
  color: var(--Neutral-900, #111827);
}

.nav-button:hover {
  border: 1px solid #FFF;
  background: var(--Neutral-50, #F9FAFB);

}



/* ======================== hero section ======================== */
.hero {
  background-color: #051C2A;
  width: 100%;
  height: 770px;
  flex-shrink: 0;
}

.hero-left {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 150px;
  padding-left: 112px;
  /* gap: 10px; */
  position: stretch;
}

.hero-right {
  display: inline-flex;
  gap: 16px;
  position: stretch;
}

.multi-engage {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  display: flex;
  padding: 8px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */

  background: #49889A;
}

.hero-statement {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  /* 117.188% */
  letter-spacing: -1.28px;
  padding-right: 630px;
  padding-bottom: 60px;
}

.hero-button {
  background: #00C4C8;
  border-radius: 0%;
  /*Dropshadow/Small*/
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  display: flex;
  width: 478px;
  height: 87px;
  padding: 14px 40px 14px 112px;
  margin-left: -120px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.hero-button-text {
  color: #051C2A;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 112.5% */
}

.hero-button:hover {
  background: #49889A;

  /* Drop shadow/Small */
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}

.hero-image {
  fill: radial-gradient(49.51% 49.51% at 50.01% 50.01%, #BCBEC0 0%, #CCCECF 31%, #F7F8F8 91%, #FFF 100%);
  position: absolute;
  background-blend-mode: multiply;
  height: 825px;
  left: 58%;
  top: -10%;
  flex-shrink: 0;
}


/* ======================== services section ======================== */
.services {
  display: flex;
  padding: 80px 112px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.services-overline {
  color: #49889A;

  /* Paragraph/Overline/Large */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services-top {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.services-left {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 384px;
}

.services-heading {
  color: #111827;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  /* 122.222% */
  letter-spacing: -0.72px;
}

.services-right {
  align-items: flex-start;
  align-self: stretch;
  width: 328px;
  margin-left: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services-top-statement {
  color: #6B7280;

  /* Paragraph/Medium/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.services-button {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--Neutral-900, #111827);
  border-radius: 0%;
  /*Dropshadow/Small*/
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.services-button-text {
  color: var(--Neutral-50, #F9FAFB);

  /* Label/Large/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 112.5% */
}

.services-button:hover {
  border: 1px solid var(--Neutral-900, #111827);
  background: var(--Neutral-700, #374151);

  /* Drop shadow/Small */
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}

.services-button-text:hover {
  color: #ffffff;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.services-card {
  display: flex;
  height: 400px;
  padding: 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border: 1px solid #B3B3B3;
  background: var(--Secondary-Gray-100, #F5F5F5);
}

.service-crypto {
  width: 105px;
  height: 10px;
  margin: -40px -24px 48px;
  left: 1px;
  top: 1px;
  background: #00C4C8;
}

.service-strategy {
  width: 103px;
  height: 10px;
  margin: -40px -24px 48px;
  left: 417px;
  top: 1px;
  background: #00C4C8;
}

.service-finance {
  width: 382px;
  height: 10px;
  margin: -40px -24px 48px;
  left: 1px;
  top: 1px;
  background: #FF9D00;
}

.serv-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.serv-heading {
  color: #111827;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  /* 125% */
  letter-spacing: -0.64px;
}

.serv-paragraph {
  width: 254px;
  color: #6B7280;

  /* Paragraph/Medium/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.how-card {
  display: flex;
  width: 1440px;
  padding: 0px 112px;
  margin-left: -120px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.how-it-works {
  display: flex;
  width: 1340px;
  padding: 80px;
  align-items: flex-start;
  gap: 120px;
  background: #111827;
}

.how-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.how-overline {
  align-self: stretch;
  color: var(--Neutral-300, #D1D5DB);

  /* Paragraph/Overline/Large */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.how-heading {
  align-self: stretch;
  color: var(--Generic-White, #FFF);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  /* 122.222% */
  letter-spacing: -0.72px;
}

.how-paragraph {
  align-self: stretch;
  color: var(--Neutral-300, #D1D5DB);

  /* Paragraph/Medium/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.how-image {
  padding-top: 20px;
}

.how-right {
  display: flex;
  width: 548px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.how-to-list {
  display: flex;
  gap: 32px;
}

.how-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.how-to-item {
  display: flex;
  width: 548px;
  align-items: flex-start;
  gap: 20px;
}

.how-list-heading {
  display: flex;
  align-self: stretch;
  color: var(--Generic-White, #FFF);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 140% */
  letter-spacing: -0.4px;
}

.how-list-paragraph {
  align-self: stretch;
  color: var(--Neutral-300, #D1D5DB);

  /* Paragraph/Medium/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

/* ======================== testimonials section ======================== */


.carousel-inner {
  width: inherit;
}

.carousel-item {
  width: 100%;
  height: 180px !important;
}

.middle-section {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.profile {
  text-align: left;
}

.test-logo {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.test-img {
  position: relative;
  width: 48px;
  height: 48px;
}

.test-name {
  width: 168px;
  color: var(--primary-50, #F5F9FC);

  /* Heading/H4/Semi Bold */
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  /* 136.364% */
  letter-spacing: -0.44px;
}

.test-position {
  color: var(--neutral-600, #7E8F9F);

  /* Sub H/Medium */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 122.222% */
}

.test-quote {
  flex: 1 0 0;
  color: var(--neutral-300, #C5CCD4);
  /* Paragraph/P1/Regular */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.quote-mark {
  position: inherit;
  margin-left: 100px;
  justify-content: space-between;
  flex: 0 0 auto;
}

.test-navigate {
  display: inline-flex;
  align-items: flex-start;
  padding: 10px 500px;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.test-button {
  align-items: center;
  justify-content: center;
  padding: 16px 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: var(--primary-500);
  display: inline-flex;
  padding: 22px 22px;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  opacity: .7;
}

.carousel-control-next-icon, .carousel-control-prev-icon:hover {
  text-decoration: none;
}





/* ======================== cta section ======================== */





/* ======================== footer section ======================== */








/* ======================== media queries ======================== */
@media screen and (max-width: 395px) {

  /* ============ nav mq ============  */
  .nav-button {
    display: none;
  }


  /* ============ hero section mq ============  */


  /* ============ services section mq ============  */



  /* ============ testimonials section mq ============  */



  /* ============ cta section mq ============  */


  /* ============ footer section mq ============  */


}


@media screen and (min-width: 396px) and (max-width: 450px) {


  /* ============ nav mq ============  */
  .nav-button {
    display: none;
  }

  /* ============ hero section mq ============  */


  /* ============ services section mq ============  */


  /* ============ testimonials section mq ============  */


  /* ============ cta section mq ============  */


  /* ============ footer section mq ============  */


}

@media screen and (min-width: 451px) and (max-width: 767px) {

  /* ============ nav mq ============  */
  .nav-button {
    display: none;
  }

  /* ============ hero section mq ============  */


  /* ============ services section mq ============  */


  /* ============ testimonials section mq ============  */


  /* ============ cta section mq ============  */


  /* ============ footer section mq ============  */



}


@media screen and (min-width: 768px) and (max-width: 924px) {

  /* ============ nav mq ============  */
  .nav-button {
    display: none;
  }

  /* ============ hero section mq ============  */



  /* ============ services section mq ============  */


  /* ============ testimonials section mq ============  */


  /* ============ cta section mq ============  */


  /* ============ footer section mq ============  */



}

@media screen and (min-width: 925px) and (max-width: 1099px) {



  /* ============ nav mq ============  */
  .nav-button {
    display: none;
  }




  /* ============ hero section mq ============  */


  /* ============ services section mq ============  */


  /* ============ testimonials section mq ============  */


  /* ============ cta section mq ============  */


  /* ============ footer section mq ============  */



}



@media screen and (min-width: 1100px) and (max-width: 1439px) {}


@media screen and (min-width: 1440px) {}