/* ======================== google fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');



body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ======================== nav ======================== */
.navbar {
  background-color: #051C2A;
}

.nav-link {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

.nav-button-text {
  color: #ffffff;
}


/* ======================== hero section ======================== */
.hero {
  background-color: #051C2A;
  background-image: url("https://postimg.cc/t7V9HK0C");
}

.multi-engage {
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.hero-statement {
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.hero-button {
  background-color: #00C4C8;
}

.hero-button-text {
  color: #051C2A;
  font-family: "Inter", sans-serif;
}



/* ======================== stat section ======================== */



/* ======================== services section ======================== */




/* ======================== testimonials section ======================== */


.carousel-inner {
  width: inherit;
}

.carousel-item {
  width: 100%;
  height: 180px !important;
}

.middle-section {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.profile {
  text-align: left;
}

.test-logo {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.test-img {
  position: relative;
  width: 48px;
  height: 48px;
}

.test-name {
  width: 168px;
  color: var(--primary-50, #F5F9FC);

  /* Heading/H4/Semi Bold */
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  /* 136.364% */
  letter-spacing: -0.44px;
}

.test-position {
  color: var(--neutral-600, #7E8F9F);

  /* Sub H/Medium */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 122.222% */
}

.test-quote {
  flex: 1 0 0;
  color: var(--neutral-300, #C5CCD4);
  /* Paragraph/P1/Regular */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.quote-mark {
  position: inherit;
  margin-left: 100px;
  justify-content: space-between;
  flex: 0 0 auto;
}

.test-navigate {
  display: inline-flex;
  align-items: flex-start;
  padding: 10px 500px;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.test-button {
  align-items: center;
  justify-content: center;
  padding: 16px 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: var(--primary-500);
  display: inline-flex;
  padding: 22px 22px;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  opacity: .7;
}

.carousel-control-next-icon, .carousel-control-prev-icon:hover {
  text-decoration: none;
}





/* ======================== cta section ======================== */





/* ======================== footer section ======================== */








/* ======================== media queries ======================== */
@media screen and (max-width: 395px) {


  /* ============ header mq ============  */



  /* ============ hero section mq ============  */


  /* ============ stat section mq ============  */


  /* ============ services section mq ============  */



  /* ============ testimonials section mq ============  */



  /* ============ cta section mq ============  */


  /* ============ footer section mq ============  */


}


@media screen and (min-width: 396px) and (max-width: 450px) {


  /* ============ header mq ============  */


  /* ============ hero section mq ============  */


  /* ============ stat section mq ============  */


  /* ============ services section mq ============  */


  /* ============ testimonials section mq ============  */


  /* ============ cta section mq ============  */


  /* ============ footer section mq ============  */


}

@media screen and (min-width: 451px) and (max-width: 767px) {




  /* ========== services section ==========  */



  /* ========== test section ==========  */



  /* ========== footer section ==========  */



}


@media screen and (min-width: 768px) and (max-width: 924px) {



  /* ========== services section ==========  */


  /* ========== test section ==========  */



  /* ========== footer section ==========  */



}

@media screen and (min-width: 925px) and (max-width: 1169px) {



  /* ========== services section ==========  */



  /* ========== test section ==========  */



  /* ========== footer section ==========  */



}



@media screen and (min-width: 1170px) and (max-width: 1350px) {}


@media screen and (min-width: 2100px) {}